body {
	font-family: $montserrat;
}
ul,li {
	list-style: none;
	padding: 0;
	margin: 0;
}
a:hover {
	color: $teal;
	text-decoration: none;
}
::-webkit-input-placeholder { 
  color: $lightGray;
}
::-moz-placeholder { 
  color: $lightGray;
}
:-ms-input-placeholder { 
  color: $lightGray;
}
:-moz-placeholder { 
  color: $lightGray;
}
::selection {
	background: $teal;
	color: #fff;
}
::-moz-selection {
	background: $teal;
	color: #fff;
}
select {
	width: 100%;
	padding: 10px;
	position: relative;
	border: 1px solid #e7e7e7;
	color: #989898;
	-moz-appearance: window;
	-webkit-appearance: none;
	outline: 0;
	background: url(../images/arrow-down.png) calc(100% - 10px) center no-repeat;
	&::-ms-expand {
		display: none;
	}
}